.dashboard-layout {
    display: flex;
    min-height: 100vh;
    background: #f5f7fb;
}

.dashboard-content{
    flex:1;
    margin-left:260px;
    transition:margin-left .3s ease;
}

.dashboard-content.collapsed{
    margin-left:80px;
}

.page-content {
    padding: 30px;
}