.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width:260px;
    transition:width .3s ease;
    overflow:hidden;
    height: 100vh;
    background: #0f172a;
    color: white;
    padding: 25px;
}

.sidebar.collapsed{
    width:80px;
}

.sidebar.collapsed .menu-item{
    justify-content: center;
    padding: 16px 0;
}

.sidebar.collapsed .menu-item span{
    display: none;
}

.sidebar.collapsed .logo{
    display: none;
}

.sidebar.collapsed .sidebar-header{
    justify-content: center;
}

.sidebar.collapsed .menu-item svg{
    margin: 0;
    font-size: 28px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.menu-item:hover {
    background: #2563eb;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 18px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s ease;
}

/* Hover */
.menu-item:hover {
    background-color: #1e40af;
}

/* Active page */
.menu-item.active {
    background-color: #2563eb;
    font-weight: 600;
}

.menu-item.active svg,
.menu-item.active span {
    color: white;
}

.sidebar-header{
    display:flex;
    align-items:center;
    gap:16px;
}

.logo h2{
    margin:0;
    color:white;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    white-space: nowrap;
}

.collapse-btn{
    color:white;
    cursor:pointer;
    font-size: 32px !important;
    flex-shrink: 0;
}

.collapse-btn:hover{
    color:#60a5fa;
}

.sidebar-divider{
    width:80%;
    height:1px;
    background:#2b3550;
    margin:20px auto;
}
