.employees-page {
    width: 100%;
}


/* Pagination area */

.employees-page .MuiPagination-root {
    margin-top: 10px;
}


/* Pagination buttons */

.employees-page .MuiPaginationItem-root {
    font-weight: 500;
    border-radius: 8px;
}


/* Active page */

.employees-page .MuiPaginationItem-root.Mui-selected {
    background-color: #2563eb;
    color: white;
}


/* Hover */

.employees-page .MuiPaginationItem-root:hover {
    background-color: #dbeafe;
}